{% extends "layout.html" %}
{% set active_page = 'home' -%}
{% block body %}
 <h1>SEC Financial Data</h1>

  <form action="/statement" method=post>
    <dl>
      <dt>Legal name
      <dd><input type="text" name=legalname list="names"/>
 <datalist id="names">
{% for ret in namelist %}
    <option>{{ret}}</option>
{%endfor%}
 </datalist>
      <input type=submit name=action value=Retrieve class="btn btn-primary btn-ok">
    </dl>
  </form>

<div class="row">
    <div class="col-sm-5" >
        <table class=entries id="filings" >
         <thead><tr>
         <th>quarter</th>
         <th>BS</th>
         <th>IS</th>
         <th>CF</th>
         <tbody>
         {% for ret in filings %}
         <tr>
          <form action="/quarter" method=post>
         <td>
              <input type=submit name=action value={{ret.quarter}} class="btn btn-primary btn-ok"/>
         </td>
         <td>
              <input type="text" name=BS value="{{ret.BS}}"/>
         </td>
         <td>
              <input type="text" name=IS value="{{ret.IS}}"/>
         </td>
         <td>
              <input type="text" name=CF value="{{ret.CF}}"/>
         </td>
          </form>
         </tr>
         {%endfor%}
         </tbody>
         </table>
    </div> <!--col-sm-5  -->
     <div class="col-sm-7" >
      {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
    </div> <!--col-sm-7  -->
</div><!-- row -->
{% endblock %}
